<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<h1>Hello.</h1>
  
<div class="midbod">
    <p>
        <b>Mission Statement:</b><br><br>
        This page is created in order to accomplish Assignment 1<br>
        This assignment definitely is a step up from the other <br>
        assignments that I have had the privilege of working on. <br>
    </p>

<br><br><br>
<p>Feel free to browse around, stay safe </p>
<img src="/Assets/images/mask.jpg" alt="Facemask">
</div>

<%- include partials/footer.ejs %>
</body>
</html>
