<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

      <h2>Services</h2>
<div class="midbod">
    <p>
        Included here are a list of services that I offer:<br>
    </p>

    <p><b>General Programming</b></p>
    <p><b>Web Development</b></p>
    <p><b>Game Development</b></p>
    <p><b>Mobile App Development</b></p>
    <p><b>Private Tutoring</b></p>

    
<img src="/Assets/images/mask.jpg" alt="Facemask">
</div>


<%- include partials/footer.ejs %>
</body>
</html>