<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<div class="midbod">
<h3>He/Him</h3>

    <p>
        Greetings once more! My name is Ignacio Agustin.<br>
        I am from the Philippines and my nickname is <i>"Iñaki" </i><br><br>
        
        I am Software Engineering student in Centennial College <br>
        I workout, watch movies, and love video games
    </p>

<img src="/Assets/images/inaki1.jpg" alt="2x2 Photo of Inaki"><br>
    
    <p>
        <a href="https://drive.google.com/file/d/1f7rwPkjFvc1n04CpoTrMHA6JsJ9k0LaK/view?usp=sharing">Feel free to view my resume here</a>
    </p>

<img src="/Assets/images/mask.jpg" alt="Facemask">
</div>

<%- include partials/footer.ejs %>

</body>
</html>