<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<h2>Contact Me:</h2>
<div class="midbod">

    <p> Feel free to send me a message using the information below</p>
        <li><b>Phone number</b>: 6474579858 </li>
        <li><b>School email</b>: izuluaga@my.centennialcollege.ca </li>
        <li><b>Personal email</b>: inakizuluagaa@gmail.com </li><br><br>


    <p>You may also use this form if you would want <i>me</i> to reach out to you</p>
        <form>
            <fieldset>
            <legend>Your contact Information</legend>   
            <p>First Name: <input type="text" required="required"></p>
            <p>Last Name: <input type="text" required="required"></p>
            <p>Email Address: <input type="text" required="required"></p>
            <p>Phone Number: <input type="text" required="required"></p>
            <p>Preferred Hours: <input type="text" required="required"></p>
            <button type="submit" formaction="/" class="button1">Submit Form</button> <!-- I made it so that when the user submits, they are redirected to the college website -->
        </form>

</div><br><br>

<%- include partials/footer.ejs %>
</body>
</html>